.timerBox {
  padding: 1.5rem;
  /* width: 80%; */
  margin: 0 auto;
  border-radius: 10px;
  background-color: var(--color-white-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-text-1);
  gap: 2rem;
  margin-top: 2rem;
}
.timer {
  font-size: 7rem;
  user-select: none;
}
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.btn {
  background-color: var(--color-white);
  mix-blend-mode: screen;
  color: black;
  padding: 1rem 3rem 1rem 2rem;
  width: 190px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1;
  cursor: pointer;
  user-select: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.timerTabs {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.tab {
  user-select: none;
  padding: 8px 16px;
  text-align: center;
  cursor: pointer;
}
.tab--active {
  font-weight: bold;
  background-color: var(--color-grey-1);
  border-radius: 5px;
}
@media (max-width: 600px) {
  .timerBox {
    padding: 1rem;
    margin-top: 1rem;
    gap: 1.5rem;
  }
  .timerTabs {
    gap: 0.5rem;
  }
}
@media (max-width: 470px) {
  .timerBox {
    gap: 1rem;
  }
  .timerTabs {
    flex-direction: column;
  }
  .timer {
    font-size: 5rem;
  }
  .btn {
    padding: 0.6rem 1.5rem 0.6rem 1rem;
    font-size: 1.1rem;
    width: auto;
  }
}
@media (max-width: 330px) {
  .timer {
    font-size: 4rem;
  }
  .buttons {
    flex-direction: column;
  }
}
