.App {
  background-color: var(--color-red-1);
  height: 100vh;
  transition: background-color 1s;
}
.cyan {
  background-color: var(--color-cyan-1);
}
.blue {
  background-color: var(--color-blue-1);
}
main {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 2rem;
}
@media (max-width: 500px) {
  main {
    padding: 0 1rem;
  }
}
@media (max-width: 330px) {
  main {
    padding: 0 8px;
  }
}
